*{
    user-select: none;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}
:root {
    --rojo-bordo: #872a32;
    --dorado_1: #FFD700;
}
.div_body {
    min-height: 100vh;
    width: 100%;
    border: 1em solid #000000;
    position: relative;
    background-image: linear-gradient(to bottom, var(--rojo-bordo) 10%, #983939 20%, var(--rojo-bordo)25%);
    background-color: initial;
    box-sizing: border-box;
    z-index: 2;
}
/*Header*/
.nav_container {
    height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #dabd1ec9;
    border-radius: 0 0 5px 5px;
}
.nav_container h3 {
    padding: 0;
    margin: 0;
    font-size: 35px;
    margin-left: 20px;
    color: #efd232e6;
}
.nav_container--inside {
    display: flex;
    align-items: center;
    margin-right: 2em;
    gap: 1.1em;
}
.nav_container--inside a {
    font-size: 20px;
    text-align: center;
    color: var(--dorado_1);
    text-decoration: none;
}
.nav_container--inside a:hover {
    color: #ffd900b1;
    cursor: pointer;
}
.nav_container--inside svg:hover {
    fill: #ffd900b1;
    cursor: pointer;
}
#sideBar_nav {
    display: none;
}
#icon_menu {
    display: none;
}
/*Cuerpo*/
.container_anuncio {
    height: 18em;
    width: 100%;
    position: relative;
    margin-top: 3em;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px 2px #521a1f;
    z-index: 2;
}
.container_anuncio--inside {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    animation: slide 20s infinite ease-in-out;
}
.spots{
    height: 100%;
    flex: 0 0 100%;
    text-align: center;
}
.container_anuncio--inside img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    
}
@keyframes slide {
            0% { transform: translateX(0%); } /* Primera imagen */
            20% { transform: translateX(0%); }

            25% { transform: translateX(-100%); } /* Pausa en la segunda */
            45% { transform: translateX(-100%); }

            50% { transform: translateX(-200%); } /* Vuelve a la primera */
            75% { transform: translateX(-200%); }
            
            80% { transform: translateX(-300%); }
            95% { transform: translateX(-300%); }
        }

.container_masSells {
    width: 100%;
    margin: 0;
    padding-top: 10px;
    position: relative;
    bottom: 2em;
    background: linear-gradient(to bottom, #090907ae 40%, transparent);
    border-radius: 20px;
    z-index: 3;
}
.container_masSells--tittle {
    font-size: 1.5em;
    font-weight: 1000;
    margin-left: 25px;
    color: #ccc9c9;
}
.container_masSells--inside {
    height: 100%;
    width: 100%;
    display: flex;
    margin: 1em auto 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scrollbar-width: thin; /* For Firefox */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on mobile */
}
.container_arrows {
    width: 100%;
    position: absolute;
    top: 32em;
    display: flex;
    justify-content: space-between;
    z-index: 4;
}
.container_arrows svg {
    height: 2.5em;
    width: 2.5em;
    cursor: pointer;
    user-select: none;
    fill: #ffffff;
}
.post_sell_looked {
    height: 220px;
    flex: 0 0 150px;
    display: flex;
    margin: 0 2em 0 2em;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 3px solid rgba(170, 170, 167, 0.474);
    border-radius: 1em;
}
.post_sell_looked img {
    height: 8em;
}
.post_sell_looked label {
    font-size: 1.2em;
}
.container_catalogo {
    height: auto;
}

.nav_catalogo {
    max-height: 3.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0 0;
}
.nav_catalogo--inside {
    height: 70%;
    max-width: 30em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    border: 3px solid #797676;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px #521a1f;
}
.nav_catalogo--inside label {
    padding: 5px 20px;
    font-size: 1.2em;
    font-weight: 550;
    color: #0d0d0d;
    border-radius: 10px;
}
.nav_catalogo--inside label:hover {
    color: #FFD700;
    background-color: #97333b;
    cursor: pointer;
}
.catalogo_productos {
    padding: 20px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 2em;
}
.productos {
    max-height: 18em;
    max-width: 10em;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    border: 3px solid #797676;
    box-shadow: 0 0 20px 3px #521a1f;
    border-radius: 10px;
}
.producto_imagen {
    height: 9em;
    width: 9em;
    padding: 2px;
    border-radius: 10px;
    border: 2px solid #000000;
}
.productos label {
    font-size: 1.2em;
    font-weight: 550;
}
.productos_buttom {
    display: flex;
    justify-content: center;
    gap: 2em;
}
.productos_buttom button {
    font-weight: 800;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    background-color: #ffd900f1;
    border: 2px solid;
}
.productos_buttom button:hover {
    background-color: #ffd900c0;
}
.producto_car--svg {
    height: 30px;
    width: 30px;
    padding: 3px;
    background-color: #ccc7c7;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid;
}
.producto_car--svg:hover {
    background-color: #b3aeaeea;
}

.flash_selection {
    height: 100%;
    width: 100%;
    display: none;
    align-content: space-between;
    backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
}
.container_selection {
    width: 90%;
    position: fixed;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #171616;
    border-radius: 5px;
    z-index: 999;
}
.container_sabores {
    width: auto;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    gap: 2em;
}
.selection_sabor {
    height: 13em;
    width: 9em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 3px solid #FFD700;
    border-radius: 5px;
    cursor: pointer;
}
.selection_sabor:hover {
    background-color: #FFD700;
}
.selection_sabor img {
    height: 5em;
    width: 5em;
}
.selection_sabor label {
    color: #ffffff;
}
.selection_sabor.dulces {
    display: none;
}

.container_sabores_seleccionados {
    width: 10em;
    margin: 1em 3em;
    color: #fff;
}
.container_sabores_seleccionados li {
    list-style: none;
}
.container_button_selection {
    margin-bottom: 2em;
    text-align: center;
}
.container_button_selection button {
    padding: 0.5em 1em;
    margin-left: 2em;
    color: #ffffff;
    background-color: transparent;
    border: 3px solid #FFD700;
    border-radius: 5px;
    cursor: pointer;
}
/*Cuerpo*/

/*FootPagina*/
.container_footPag {
    height: 10em;
    color: #fff;
    background-color: #000000;
    align-content: center;
    text-align: center;
}

/*Screen Media*/
@media (max-width: 600px) {
    .body_container--sideBar {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: fixed;
        display: none;
        backdrop-filter: blur(10px);
        z-index: 40;
    }
    .nav_container--inside {
        display: none;
    }
    #icon_menu {
        height: 2em;
        width: 2em;
        fill: var(--dorado_1);
        margin-right: 1em;
        display: block;
        cursor: pointer;
    }
    #icon_x {
        height: 2em;
        width: 2em;
        margin-right: 1em;
        fill: #a38b06;

    }
    #sideBar_nav {
        height: 100vh;
        width: 50%;
        position: fixed;
        top: 0;
        right: 0;
        padding-top: 1em;
        display: flex;
        flex-direction: column;
        align-items: end;
        background-color: #872a32;
        box-shadow: 0 0 25px 2px #33050a;
        z-index: 50;
    }
    #icon_x {
        margin-bottom: 1.5em;
        cursor: pointer;
    }
    .text_links--bar {
        height: 2.8em;
        width: 98.5%;
        color: #000;
        font-size: 1.24em;
        font-weight: 550;
        text-align: center;
        align-content: center;
        border-bottom: 3px solid #a38b06;
        cursor: pointer;
        text-decoration: none;
    }
    #nav_button_carrito--sidebar {
        height: 30px;
        width: 30px;
        position: absolute;
        right: 10px;
        top: 12.9em;
    }
    .catalogo_productos {
        justify-content: center;
    }
    .nav_catalogo--inside a {
        padding: 5px 18px;
        font-size: 1.1em;
    }
}
@media (max-width: 486px) {
    .div_body {
        border: 0.5em solid #000000;
    }
    .container_anuncio {
        height: 13em;
    }
    .container_masSells--tittle {
        font-size: 1.3em;
    }
    .post_sell_looked {
        height: 180px;
    }
    .post_sell_looked img {
        height: 7em;
    }
    .post_sell_looked label {
        font-size: 1em;
    }
    .container_arrows {
        top: 26em;
    }
    .nav_catalogo {
        max-height: 2.2em;
    }
    .nav_catalogo--inside {
        height: 70%;
        max-width: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 5px;
        border: 3px solid #797676;
        border-radius: 10px;
        box-shadow: 0 0 20px 1px #521a1f;
    }
    .nav_catalogo--inside label {
        padding: 5px 10px;
        font-size: 1em;
        font-weight: 550;
        color: #0d0d0d;
        border-radius: 10px;
    }
    .text_links--bar {
        font-size: 1em;
    }
    #nav_button_carrito--sidebar {
        height: 30px;
        width: 30px;
        position: absolute;
        right: 10px;
        top: 13.6em;
    }

}


