*{
    user-select: none;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}
:root {
    --rojo-bordo: #872a32;
    --dorado_1: #FFD700;
}
.div_body {
    min-height: 100vh;
    width: 100%;
    border: 1em solid #000000;
    position: relative;
    background-image: linear-gradient(to bottom, var(--rojo-bordo) 10%, var(--rojo-bordo)25%);
    background-color: initial;
    box-sizing: border-box;
    z-index: 2;
}
/*Header*/
.nav_container {
    height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #dabd1ec9;
    border-radius: 0 0 5px 5px;
}
.nav_container h3 {
    padding: 0;
    margin: 0;
    font-size: 35px;
    margin-left: 20px;
    color: #efd232e6;
}
.nav_container--inside {
    display: flex;
    align-items: center;
    margin-right: 2em;
    gap: 1.1em;
}
.nav_container--inside a {
    font-size: 20px;
    text-align: center;
    color: var(--dorado_1);
    text-decoration: none;
}
.nav_container--inside a:hover {
    color: #ffd900b1;
    cursor: pointer;
}
.nav_container--inside svg:hover {
    fill: #ffd900b1;
    cursor: pointer;
}
#sideBar_nav {
    display: none;
}
#icon_menu {
    display: none;
}
/*Cuerpo*/

.container_buy {
    height: auto;
    width: 90%;
    margin: 1.5em auto;
    border: 3.5px solid #dabd1ec9;
    z-index: 2;
}
.container_buy--inside {
    height: 100%;
    width: 100%;

}
.container_buy--inside h3 {
    text-align: center;
    font-weight: 550;
    font-size: 1.6em;
    color: #efd232e6;
}
.container_productos {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.productos {
    width: 90%;
    margin: auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    border: 3px solid #dabd1ec9;
    cursor: pointer;
}
.productos img {
    height: 4em;
    width: 4em;
}
.productos label {
    font-size: 1.2em;
    font-weight: 550;
}
.container_detalle {
    height: 100%;
    margin-bottom: 1em;
}
.container_detalle h4{
    text-align: center;
    font-weight: 550;
    font-size: 1.45em;
    color: #efd232e6;
}
.container_detalle--inside {
    width: 85%;
    margin: auto;
    padding: 10px;
    color: #fff;
    background-color: #742027;
    border-radius: 5px;
    box-shadow: inset 0 0 6px 5px #00000063;
    text-align: center;
}
.producto_detalle {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 10px;
    font-size: 1.2em;
    border-bottom: 2px solid #000;
}
.producto_detalle--inside {
    margin-bottom: 0.7em;
    font-size: 1.1em;
}
.container_resumen {
    width: 85%;
    margin: auto;
    padding: 10px;
    color: #fff;
    background-color: #742027;
    border-radius: 5px;
    font-size: 1.05em;
    box-shadow: inset 0 0 6px 5px #00000063;
    text-align: right;
}
.container_buy--buttoms {
    height: 3em;
    width: 90%;
    margin: auto;
    align-content: center;
    text-align: center;
}
.container_buy--buttoms button {
    padding: 5px 10px;
    margin-left: 20px;
    font-weight: 700;
    background-color: #742027;
    color: #fff;
    border: 2px solid #FFD700;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.container_buy--buttoms button:hover {
    transform: scale(1.05);
    color: #FFD700;
}
/*Cuerpo*/

/*FootPagina*/
.container_footPag {
    height: 10em;
    color: #fff;
    background-color: #000000;
    align-content: center;
    text-align: center;
}
/*Screen Media*/
@media (max-width: 600px) {
    .body_container--sideBar {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: fixed;
        display: none;
        backdrop-filter: blur(10px);
        z-index: 40;
    }
    .nav_container--inside {
        display: none;
    }
    #icon_menu {
        height: 2em;
        width: 2em;
        fill: var(--dorado_1);
        margin-right: 1em;
        display: block;
        cursor: pointer;
    }
    #icon_x {
        height: 2em;
        width: 2em;
        margin-right: 1em;
        fill: #a38b06;

    }
    #sideBar_nav {
        height: 100vh;
        width: 50%;
        position: fixed;
        top: 0;
        right: 0;
        padding-top: 1em;
        display: flex;
        flex-direction: column;
        align-items: end;
        background-color: #872a32;
        box-shadow: 0 0 25px 2px #33050a;
        z-index: 50;
    }
    #icon_x {
        margin-bottom: 1.5em;
        cursor: pointer;
    }
    .text_links--bar {
        height: 2.8em;
        width: 98.5%;
        color: #000;
        font-size: 1.24em;
        font-weight: 550;
        text-align: center;
        align-content: center;
        border-bottom: 3px solid #a38b06;
        cursor: pointer;
        text-decoration: none;
    }
    #nav_button_carrito--sidebar {
        height: 30px;
        width: 30px;
        position: absolute;
        right: 10px;
        top: 12.9em;
    }
    .catalogo_productos {
        justify-content: center;
    }
    .nav_catalogo--inside a {
        padding: 5px 18px;
        font-size: 1.1em;
    }
}
@media (max-width: 486px) {
    .div_body {
        border: 0.5em solid #000000;
    }
    .text_links--bar {
        font-size: 1em;
    }
    #nav_button_carrito--sidebar {
        top: 13.6em;
    }


}
